# secrets
tests/**/secrets*.*
tests/**/secrets*.*

# VScode
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# tox
.tox/

# codecov
.coverage*

# test output
*copinicoos*_logs*
*copinicoos*.json
tests/S*.zip